{% extends 'default.html' %}

{% block title %} Historique {% endblock %}
{% block content %}

<h1>Historique des réservations</h1>
<br>
{% if reservations %}


    <table class="table table-success table-striped">
        <thead>
                <tr>
                  
                  <th scope="col">Nom</th>
                  <th scope="col">Date</th>
                  <th scope="col">ID évènement</th>
                  <th scope="col">ID utilisateur</th>
                  <th scope="col">ID réservation</th>
                  <th scope="col">statut</th>
 
                </tr>           
        </thead>
        <tbody>
          
            {% for reservation in reservations[0] %}

            <tr>
                <td>{{reservation[0]}}</td>
                <td>{{reservation[1]}}</td>
                <td>{{reservation[2]}}</td>
                <td>{{reservation[4]}}</td>
                <td>{{reservation[5]}}</td>
                <td>{{reservation[6]}}</td>
                <td>{{reservation[7]}}</td>
            </tr>
             {% endfor %}
        </tbody>
</table>
<p>{{ reservations[1] }}</p>
{% else %}
<p>Aucune réservation disponible.</p>
{% endif %}
      

{% endblock %}