{% extends 'admin.html'%}
{% block title %} Places {% endblock %}

{% block content %}


<h1>Voici les places disponibles selon l'évènement.</h1>
<br>
{% if event_info_lists %}
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Nom évènement</th>
            <th scope="col">ID évènement</th>
            <th scope="col">Place total</th>
            <th scope="col">Places réservées</th>
            <th scope="col">Places disponibles</th>
        </tr>
    </thead>
    <tbody>
        {% for event in event_info_lists %}
        <tr>
            <td>{{ event[0] }}</td>
            <td>{{ event[1] }}</td>
            <td>{{ event[2] }}</td>
            <td>{{ event[3] }}</td>
            <!-- Calculate and display the remaining seats (Place total - Places réservées) -->
            <td>{{ event[2] - event[3] }}</td>
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>
 {% else %}
    <td colspan="4">Aucune information sur les évènements disponible.</td>
               
{% endif %}

{% endblock %}