{% extends 'default.html' %}
{% block title %} Confirmation {% endblock %}

{% block content %}
<br>

<h1>Confirmation de réservation</h1>


{% if session and user and evenement %}
  <p>Merci, {{ user.nom_complet }}, votre réservation pour l'activité {{ evenement.nom }} le {{ evenement.date }} a été confirmée.</p>
  <p>Un email de confirmation a été envoyé à {{ user.email }}.</p>
{% else %}
  <p>Erreur lors de la confirmation de la réservation.</p>
  {% if not user %}
    <p>Impossible de trouver les détails de l'utilisateur.</p>
  {% elif not evenement %}
    <p>L'événement spécifié n'existe pas.</p>
  {% endif %} 
{% endif %}

{% endblock %}





