{% extends 'default.html' %}
{% block title %} Home {% endblock %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('static/images/img_lights.jpg');
        /* Chemin relatif vers votre image de fond */
        background-size: cover;
        /* Ajuster la taille de l'image de fond pour couvrir l'ensemble de la fenêtre */
    }

   
</style>
{% block content %}

<h1><h2>Nos Activités Sportives</h2>
    <p>Bienvenue sur notre site dédié à l'activité sportive! Chez nous, le sport est bien plus qu'une passion, c'est un mode de vie. Nous croyons en l'importance de rester actif, en se dépassant chaque jour et en partageant cette énergie avec d'autres.</p>
    <p>Notre mission est de fournir un environnement dynamique et accueillant pour les amateurs de tous niveaux. Que vous soyez débutant ou athlète chevronné, il y a une place pour vous ici. Nous vous proposons une variété d'activités allant de la salle de bingo au pleine air et en passant par des événements communautaires excitants.</p>
    <p>Avec notre équipe d'instructeurs passionnés et dévoués, nous sommes là pour vous soutenir dans votre parcours sportif. Rejoignez-nous pour  vous amuser et pour atteindre de nouveaux sommets ensemble !</p>
</h1>

{% endblock %}