{% extends 'default.html'%}
{% block title %} Places {% endblock %}

{% block content %}


<h1>Voici les places disponibles.</h1>


<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Nom évènement</th>
            <th scope="col">ID évènement</th>
            <th scope="col">Place total</th>
            <th scope="col">Places réservées</th>
            <th scope="col">Places disponibles</th>

        </tr>

    </thead>
    <tbody>
        {% if event_info is not none %}
        {% for event_info in event_infos %}

        <tr>
            <td>{{event_info[0]}}</td>
            <td>{{event_info[1]}}</td>
            <td>{{event_info[2]}}</td>
            <td>{{event_info[3]}}</td>
            <td>{{event_info[4]}}</td>

        </tr>
        {%endfor %}
        {% else %}
        <tr>
            <td colspan="4">Aucune information sur les évènements disponible.</td>
        </tr>
        {% endif %}

    </tbody>
</table>

{% endblock %}